/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Cabin', sans-serif;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  overflow: hidden;
  line-height: 1;
  text-rendering: optimizeLegibility;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  height: 100%;
/*  overflow: hidden;
*/}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}



.clearfix {
  display: inline-block;
}


 h2{
  font-size: 30px;
  font-weight: 600;
  padding:20px 0;
}

h3{
  font-weight:600;
  font-size: 24px;
  padding:20px 0;
}


button{
  outline: none;
  font-weight: 600;
  font-size: 32px;
}


hr{
  border: 3px solid black;
}
*, *:before, *:after {
  box-sizing: border-box;
}


/** Layout **/

.cuisine_container,
.delivery_container{
  background: #e6e7e8;
  width:800px;
  height: 100vh;

}

.order_container{
  background:#f1f1f2;
  width:600px;
  height: 100vh;
}


.lets_eat_container,
.feed_me_container,
.lets_eat_container,
.billing_container{
  width: 600px;
  height: 80vh;
}

.feed_me_container {
  text-align: center;
}
.billing_container{
  background: #e6e7e8;

}



.cuisines,
.order_details,
.delivery_details,
.feed_me,
.billing_details{
  width: 400px;
  margin:0 auto;
}

.float-left{
  float:left;
}


/** Modules **/


.logo_corner {
  position: absolute;
  z-index: 10;
  left: 0.25rem;
  top: 0.25rem;
  width: 80px;
  height: 80px;
  padding: 5px;
  border-radius: 0 0 12px 0;
}
.logo_corner img {
  width: 100%;
}

.craving_header {
  padding-top: 4.5rem; 
  padding-bottom: 1.5rem;
  font-size: 1.5rem;
}

.cuisine_btns{
  list-style: none;
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
}

.cuisine_btns li{
  padding-bottom: 10px;
}

.cat_btn{
  color: #fff;
  background-color: #ee3e23;
  border: none;
  font-size: 24px;
  width: 100%;
  padding: 20px 0px;
}

.eat_btn{
  color: #ee3e23;
  background-color: #fff;
  border: 3px solid #ee3e23;
  font-size: 24px;
  border-radius:10px;
  padding: 20px 10px;
  text-align: center;
}

.lets_eat {
  width: 400px;
  position: absolute;
  right: 0;
  top: 30%;
}

.lets_eat_buttons {
  float: left;
}

.lets_eat_buttons button {
  width: 240px;
  margin-bottom: 10px;
}



.button{
  /*[ Position ]*/
  margin:0 auto;
]/*  left: 200px;
*/  top:80px;
  /* [ Button ] */
  position:relative;
  height:200px;
  width:200px;
  cursor:pointer;
  line-height:200px;
  background-color:#f1f1f1;
  text-align:center;
  font-size:38px;
  display:inline-block;
  text-shadow:0px -1px 1px rgba(255,255,255,0.5);
  color:#444;
  /* Transitions */
  -moz-transition:.1s ease-out;
  -webkit-transition:.1s ease-out;
  -o-transition:.1s ease-out;
  -ms-transition:.1s ease-out;
  -khtml-transition:.1s ease-out;
  transition:.1s ease-out;
  /* Shadows */
  box-shadow:inset 0 0 5px 0 rgba(255,255,255,0.5);
  -moz-box-shadow:inset 0 0 5px 0 rgba(255,255,255,0.5);
  -ms-box-shadow:inset 0 0 5px 0 rgba(255,255,255,0.5);
  -webkit-box-shadow:inset 0 0 5px 0 rgba(255,255,255,0.5);
  -khtml-box-shadow:inset 0 0 5px 0 rgba(255,255,255,0.5);
  -o-box-shadow:inset 0 0 5px 0 rgba(255,255,255,0.5);
  /* Borders */
  border-width:1px;
  border-style:solid;
  border-left-color:#aa423a;
  border-right-color:#aa423a;
  border-top-color:#aa423a;
  border-bottom: 5px solid #aa423a;
  /* {{ No selectable }} */
  user-select:none;
  -moz-user-select:none;
  -webkit-user-select:none;
  -o-user-select:none;
  -ms-user-select:none;
  -khtml-user-select:none;
  /*[{- Border radius -}]*/
  border-radius:100px;
  -moz-border-radius:100px;
  -webkit-border-radius:100px;
  -ms-border-radius:100px;
  -khtml-border-radius:100px;
  -o-border-radius:100px;
    /*{Gradient}*/
  background-image:-moz-linear-gradient(top,transparent,rgba(0,0,0,0.17));
  background-image:-webkit-linear-gradient(top,transparent,rgba(0,0,0,0.17));
  background-image:-ms-linear-gradient(top,transparent,rgba(0,0,0,0.17));
  background-image:-khtml-linear-gradient(top,transparent,rgba(0,0,0,0.17));
  background-image:-o-linear-gradient(top,transparent,rgba(0,0,0,0.17));
  background-image:linear-gradient(top,transparent,rgba(0,0,0,0.17));
}


.button:active{
  margin-top:4px;
  color:#777;
  border:1px solid #999;

  /*{Shadow}*/
  box-shadow:inset 0 0 5px 0 #333;
  -moz-box-shadow:inset 0 0 5px 0 #333;
  -webkit-box-shadow:inset 0 1px 2px 0 #333, 0 1px 1px 0 #fff;
}
.text-shadow-negra{
  text-shadow:-1px -1px 0 rgba(0,0,0,0.2);
}
.text-blanco{
  color:white;
}
.text-blanco:hover{
  color:#DDD;
}
.text-blanco:active{
  color:#DDC;
}

.red{
  background-color:#ee3e23;
}



input[type=text]{
  width:100%;
  color:#404041;
  background: #d1d2d4;
  font-size: 1.4rem;
  padding:4px;
  margin: 5px 0px;
  outline: none;
  border: 3px solid rgba(0,0,0,0);
  font-weight: 700;
  border-radius:10px;
  font-family: 'Cabin', sans-serif;
}
  input[type=text]:focus {
    background: #EEE;
    border-bottom: 1px solid #AAA;
    border-right: 1px solid #AAA;
  }


::-webkit-input-placeholder {
   font-family: 'Cabin', sans-serif;

}

:-moz-placeholder { /* Firefox 18- */
   font-family: 'Cabin', sans-serif;
}

::-moz-placeholder {  /* Firefox 19+ */
   font-family: 'Cabin', sans-serif;
}

:-ms-input-placeholder {
   font-family: 'Cabin', sans-serif;
}

#month,
#year{
  width:20%;
}

#security_code{
  width:44%;
  display:block;
  font-size: 25px;
}

.results{
  font-weight:600;
  color: #009344;
}
.billing_heading,
.delivery_heading{
  font-size:  1.6rem;
  font-weight: 600;
}



/* States */
.button:hover{
  color:#333;
}

.highlight{
  background: #009344;
}

.cat_btn:hover{
  color: #e6e7e8;

}


.eat_btn:hover{
  border-color: #009344;
  color:#009344;
}



section.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;
}
section.modalWindow {
    display: none;
    position: fixed;
   /* top: 20%;*/
    left: 50%;
    z-index: 999 !important;
    width: 600px;
   /* min-height: 200px;*/
    margin-left: -300px;
    cursor: default;
}
section.modal.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 997;
    cursor: pointer;
}
section.modalWindow section.modalWrapper {
    margin: 30px;

    padding: 15px;
    text-align: left;
    line-height: 20px !important;
    height: 300px;
}
.closeBtn {
    position: absolute;
    right: 10px;
    top: 6px;
    cursor: pointer;
}

.container{
font-size: 72px;
text-align: center;
margin-left: auto;
 margin-right: auto;
 padding-top: 40vh  ;

}
