<!DOCTYPE html>
<html>
<head>
  <title>HappyBelly</title>
  <link href='http://fonts.googleapis.com/css?family=Cabin:500,600,700' rel='stylesheet' type='text/css'>
  <link rel="Stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Enriqueta">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
